<div class="col-sm-12">
    <div>
        <h5>Reception View</h5>

        <form>
            <div class="form-group">
                <label for="title1">Title</label>
                <input ng-model="event.title" class="form-control" id="title1" ng-click="event.$save()"/>
            </div>
            <div class="form-group">
                <label for="content1">Content</label>
                <textarea class="form-control" ng-model="event.text" id="content1" rows="3" ng-click="event.$save()"></textarea>
            </div>
            <div class="form-group">
                <label for="photoUpload1">Upload Photos</label>
                <input type="file" class="form-control-file" id="photoUpload1" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Upload your photos.</small>
            </div>

            <button ng-click="event.$save()" class="btn btn-primary">Update Event</button>
            <button ng-click="event.$remove()" class="btn btn-primary">Delete Event</button>
        </form>
    </div>
</div>
