<ul>
    <h5>All Events</h5>


    <table style="width:100%">
        <tr ng-repeat="event in events">
            <td class="pull-left">
                <a href = "#eventDetail/{{ event.$id }}"><span ng-bind="event.event_title"></span></a>
            </td>
            <td class="pull-right"><a href = "events.$remove(event)">Delete</a></td>

            <!--<td class="pull-right"><button class="btn btn-danger bt-social btn-sm"  ng-click="flows.$remove(flow)">Delete</button></td>-->
        </tr>
    </table>
</ul>